In [4]:
a = 33
b = 200
if(b>a):
    print("b is greater")

b is greater

In [2]:
a=input("Enter first number:")
b=input("Enter second number:")
c=int(a)+int(b);
print(c)

Enter first number:10
Enter second number:20
30

In [18]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=input("enter the operator")
result=0
if c=='+':
    result=a+b
    print(result)
elif c=='-':
    result= a-b
    print(result)
else:
    result=a*b
    print(result)

Enter first number:3
Enter second number:2
enter the operator+
5

In [21]:
import random
print(random.randrange(1,61))

33

In [49]:
name = "Aleena Mary V S"
#for x in name:
print("Mary" in name) #check
print(name[0])
print(name[7:11]) #slicing
print(name[:6])
print(name[1:])
print(name[-6:-1]) #negative slicing
print(name.upper()) #modify strings
print(name.lower())
print(name.strip()) #white space remove
print(name.split()) #splitting,return type is list
print(name.replace('A','J')) #replacing

True
A
Mary
Aleena
leena Mary V S
ry V
ALEENA MARY V S
aleena mary v s
Aleena Mary V S
['Aleena', 'Mary', 'V', 'S']
Jleena Mary V S

In [15]:
fruits=["apple","grapes","strawberry"]
print(fruits[1])
fruits.append("blueberry") #added list item
fruits.append(1) #added list item
print(fruits)
print(fruits[1:3]) #accessing list items
fruits.insert(2,"banana") #inserting value to the list
print(fruits)
fruits.extend("mango")#extending to list
print(fruits)
print(len(fruits)) #length of the list
fruits.remove("banana") #removing data from list
print(fruits)
fruits.pop(9)#removing data from list
print(fruits)
del fruits[0]#removing data from list
print(fruits)

grapes
['apple', 'grapes', 'strawberry', 'blueberry', 1]
['grapes', 'strawberry']
['apple', 'grapes', 'banana', 'strawberry', 'blueberry', 1]
['apple', 'grapes', 'banana', 'strawberry', 'blueberry', 1, 'm', 'a', 'n', 'g', 'o']
11
['apple', 'grapes', 'strawberry', 'blueberry', 1, 'm', 'a', 'n', 'g', 'o']
['apple', 'grapes', 'strawberry', 'blueberry', 1, 'm', 'a', 'n', 'g']
['grapes', 'strawberry', 'blueberry', 1, 'm', 'a', 'n', 'g']

In [17]:
a=[1,2,3]
a.clear()
a

[]

In [33]:
thislist = ["apple", "grapes", "cherry"] #for loop
for x in thislist:
    print(x)

apple
grapes
cherry

In [20]:
thislist = ["apple", "grapes", "cherry"] #for loop with range
for i in range(len(thislist)):
    print(thislist[i])

apple
grapes
cherry

In [40]:
fruits=["apple","grapes","strawberry","kiwi"] #list comprehension
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'grapes', 'strawberry']

In [46]:
thislist=["orange", "Mango", "kiwi", "pineapple", "Banana"]
thislist.sort()
print(thislist)

['Banana', 'Mango', 'kiwi', 'orange', 'pineapple']

In [47]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [50]:
def my_function():
    print("HELLO FROM A FUNCTION")
my_function()

HELLO FROM A FUNCTION

In [59]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Aleena", "Mary")

Aleena Mary

In [60]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [66]:
def my_function(*kids):
    print(kids[1])

my_function("Aleena", "Mary")

Mary

In [67]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [68]:
def my_function(country = "Norway"): #default parameter value
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [71]:
def my_function(food): #Passing a List as an Argument
    for x in food:
        print(x)
        
fruit=["apple","grapes"]
    
my_function(fruit)

apple
grapes

In [3]:
def my_fun(food):  #passing a list as argument
    for x in food:
        print(x)
fruit=["strawberry","grapes"]
my_fun(fruit)

strawberry
grapes

In [ ]:
def tri_rec(k):
    if(k>0):
        result=k+tri_rec(k-1)
        print (result)
    else:
        result=0
        return result

In [4]:
def myfunc(n): #customize sort function
    return abs(n-50)

thislist=[100, 50, 65, 82, 23]
thislist.sort(key=myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [8]:
list1=["a","b","c"] #just referencing
list1.append(1)
list2=list1
print(list2)
print(list1)

['a', 'b', 'c', 1]
['a', 'b', 'c', 1]

In [9]:
list1=["apple","grapes"] #copy list
list2=list1.copy()
print(list2)

['apple', 'grapes']

In [10]:
list1 = ["a", "b", "c"] #join list
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [12]:
list1=["a","b","c"]
list2=[1,2,3,3,3,3,4,3]
list3=list1+list2
print(list3)
list3.count(3)

['a', 'b', 'c', 1, 2, 3, 3, 3, 3, 4, 3]

5

In [34]:
thislist = ["apple", "grapes", "strawberry"]  #while loop
i = 0
while i<len(thislist):
    print(thislist[i])
    i=i+1

apple
grapes
strawberry

In [35]:
thislist=["apple","grapes","strawberry"] #list comprehension
[print(x) for x in thislist]

apple
grapes
strawberry

[None, None, None]

In [52]:
a="Aleena"
b="Mary"
c="VS"
d=a+b+c
print(d)

AleenaMaryVS

In [18]:
a = 10.0
b = 10
c = "Aleena"
d = True
e = 3 + 5j
f = None
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

10.0
10
Aleena
True
(3+5j)
None
<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'NoneType'>

In [26]:
cars =["HONDA","HONDA","BMW","VOLVO","SUSUKI"]
print(cars)
print(type(cars))
print(cars[0])
print(cars[0-2]) #excluding 2
print(cars[0:2])
cars.append("Tesla")
print(cars)

['HONDA', 'HONDA', 'BMW', 'VOLVO', 'SUSUKI']
<class 'list'>
HONDA
VOLVO
['HONDA', 'HONDA']
['HONDA', 'HONDA', 'BMW', 'VOLVO', 'SUSUKI', 'Tesla']

In [33]:
cars= ("honda","BMW","SUZUKI","honda")
print(cars)
print(type(cars))
#cars.append("volvo")
print(cars[0])

('honda', 'BMW', 'SUZUKI', 'honda')
<class 'tuple'>
honda

In [52]:
#cars= {1,5,20,4,3,11,9,10,5}
cars= {"Honda","BMW","SUZUKI","honda"}
print(cars)
print(type(cars))

{'Honda', 'SUZUKI', 'honda', 'BMW'}
<class 'set'>

In [53]:
fruits = {"Tropical":["Apple","Grapes","Orange"],
         "Rate":["150","80","70"]}
print(fruits)
print(type(fruits))
print(fruits)

{'Tropical': ['Apple', 'Grapes', 'Orange'], 'Rate': ['150', '80', '70']}
<class 'dict'>

In [1]:
thistuple = ("apple", "banana", "cherry")  #access tuple
print(thistuple[1])

banana

In [7]:
thisdict={"A":1,"a":1} #dict case sensitive
print(thisdict)
print(len(thisdict)) #length of dictionary

{'A': 1, 'a': 1}
2

In [23]:
cars={
    "brand":["ford","suzuki","Honda","Benz"],
    "models":["Ecosport","wagonar","Amaze","A3"],
    "price":[100000,250000,450000,500000]
}
print(cars)
x=cars["models"]
print(x)

x=cars.get("models")  #get()
print(x)

x=cars.values()  #values()
print(x)

x=cars.keys()  #keys()
print(x)

if "price" in cars: #in keyword
    print("yes")
else:
    print("no")
    
if "price" not in cars:  #not in keyword
    print("yes")
else:
    print("no")

{'brand': ['ford', 'suzuki', 'Honda', 'Benz'], 'models': ['Ecosport', 'wagonar', 'Amaze', 'A3'], 'price': [100000, 250000, 450000, 500000]}
['Ecosport', 'wagonar', 'Amaze', 'A3']
['Ecosport', 'wagonar', 'Amaze', 'A3']
dict_values([['ford', 'suzuki', 'Honda', 'Benz'], ['Ecosport', 'wagonar', 'Amaze', 'A3'], [100000, 250000, 450000, 500000]])
dict_keys(['brand', 'models', 'price'])
yes
no

In [33]:
thisdict={ 
    "animal":["lion","cat","dog","tiger"], #list
    "wild":("lion","tiger"), #tuple
    "domestic":{"dog","cat"}, #set
    "boolean":("true") #boolean
    }
print(thisdict)

{'animal': ['lion', 'cat', 'dog', 'tiger'], 'wild': ('lion', 'tiger'), 'domestic': {'cat', 'dog'}, 'boolean': 'true'}

In [38]:
thisdict={
    "dict":{"a":("mango","apple"), #tuple
           "b":{1,2},  #set
           "c":["lion","dog"],  #list
            "d":(None)
           }
}
print(thisdict)

{'dict': {'a': ('mango', 'apple'), 'b': {1, 2}, 'c': ['lion', 'dog'], 'd': None}}

In [55]:
cars={
    "brand":["ford","suzuki","Honda","Benz"],
    "models":["Ecosport","wagonar","Amaze","A3"],
    "price":[100000,250000,450000,500000]
}

cars["price"][0]=5000000
print(cars)

del cars["price"][3]
print(cars)
  
cars.popitem()
print(cars)
    
del cars["brand"][1]
print(cars)
    
#cars["price"]=450000
#print(cars)
#cars.update("price"[]: 20020)
#print(cars)

{'brand': ['ford', 'suzuki', 'Honda', 'Benz'], 'models': ['Ecosport', 'wagonar', 'Amaze', 'A3'], 'price': [5000000, 250000, 450000, 500000]}
{'brand': ['ford', 'suzuki', 'Honda', 'Benz'], 'models': ['Ecosport', 'wagonar', 'Amaze', 'A3'], 'price': [5000000, 250000, 450000]}
{'brand': ['ford', 'suzuki', 'Honda', 'Benz'], 'models': ['Ecosport', 'wagonar', 'Amaze', 'A3']}
{'brand': ['ford', 'Honda', 'Benz'], 'models': ['Ecosport', 'wagonar', 'Amaze', 'A3']}

In [59]:
cars={
    "brand":["ford","suzuki","Honda","Benz"],
    "models":["Ecosport","wagonar","Amaze","A3"],
    "price":[100000,250000,450000,500000]
}

for x in cars["brand"]:
    print(x)

ford
suzuki
Honda
Benz

In [61]:
cars={
    "brand":["ford","suzuki","Honda","Benz"],
    "models":["Ecosport","wagonar","Amaze","A3"],
    "price":[100000,250000,450000,500000]
}

mydict = cars.copy()
print(mydict)

{'brand': ['ford', 'suzuki', 'Honda', 'Benz'], 'models': ['Ecosport', 'wagonar', 'Amaze', 'A3'], 'price': [100000, 250000, 450000, 500000]}

In [66]:
family = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
     "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(family)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
i = 1
while i < 6:
    print(i)
i += 1

In [ ]:
for i in range(5):
    print(i)